body {
	font-family: 'Oxygen', sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.7;
	color: gray;
	background: #e8e8e8;
	margin: 0;

	a {
		text-decoration: none;
	}

	.body-content {
		@media #{$lg-and-down} {
			padding: 15px 30px;
		}

		@media #{$sm-and-down} {
			padding: 15px 15px 15px;
		}

		@media #{$xs-only} {
			padding: 0;
		}

		@media only screen {
			@media (min-width: 1024px) {
				width: 100%;
			}

			@media (min-width: 1200px) {
				width: 76%;
				max-width: 1500px;
				margin: 0 auto;
			}
		}
	}
}
